.gitignore
.claude/
Inventory.md
OpenClaw.pdf
Quran.md
streak.md
Trading.md
video.md
AI Python for Beginners.pdf
Cod in Place 2024.pdf
Gen AI with LLMs.pdf
LOR- Muhammad Azam.pdf
Machine learning specializtion.pdf
Meta Hacker Cup - 2023.pdf
Neural Networks and Deep Learning.pdf
Programming for everybody.pdf
Statistics with Python specialization.pdf
The Spark Foundation Internship.png
Aspire.PNG
git.png
